---
- name: Ensure nix directory exists
  become: true
  file:
    path: "/nix"
    owner: "{{ nix_user }}"
    state: directory
    mode: "0755"
  register: nix_directory

- name: Install nix
  block:
    - name: Download installer script
      get_url:
        url: "https://nixos.org/nix/install"
        dest: "{{ nix_script_dir }}/install_nix.sh"
        mode: "0755"

    - name: Run installer script
      become: true
      become_user: "{{ nix_user }}"
      command: "{{ nix_script_dir }}/install_nix.sh"  # noqa no-changed-when
  when: nix_directory is changed
